@import "~bootstrap/scss/bootstrap.scss";

body {
  background: #0e7e12;
}
.h1 {
  font-size: 5rem;
}

.letter {
  font-size: 11rem;
  font-family: "Times New Roman", Times, serif;
}
.container {
  border-radius: 30px;
}
