@import "~bootstrap/scss/bootstrap.scss";

body {
  background: #35af6d;
}
.h1 {
  font-size: 2rem;
}

.letter {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
.carta {
  border-radius: 9px;
}
button {
  width: 5rem;
}
input {
  width: 5rem;
}
